/* global styles */

body {
  padding: 0; margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: white;
  color: #111;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  color: #0077CC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#page {
  margin: 0 auto;
  text-align: left;
  width: 92.7em;
}

/* background image */

#background {
  width: 92.7em;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  position: relative;
}
.hide-background #background {
  display: none;
}

.image {
  z-index: -1;
  width: 1280px;
  position: absolute;
  left: 0;
  top: 0;
}

/* sanfran theme */
  
  body#sanfran {
    background: black;
    color: white;
  }
  #sanfran #background .image {
    left:-15em;
    top:-2em;
  }
  #sanfran #home-about .area,
  #sanfran .project,
  #sanfran li.rss_item {
    /*background-color: black; */
    background-image: url(images/black-transparent.png);
  }
  #sanfran #navigation a {
    /*background-color: black; */
    background-image: url(images/black-transparent.png);
  }
  #sanfran ul#main-menu li a:hover {
    background-color: #ff6600;
    background-image: none;
  }
  #sanfran ul#main-menu a#active {
    color: white;
  }
  #sanfran .island p, 
  #sanfran .area p {
    color: white;
  }
  
  #sanfran #home-photos a.flickr {
    background-color: white;
    border: 0;
  }
  #sanfran #home-photos a.flickr:hover {
    background-color: #ff6600;
  }
  
  #sanfran li.rss_item.islandMouseOver,
  #sanfran div.island p.islandMouseOver {
    color: white;
  }
  
/* formal theme */
  
  body#formal {
    background: black;
    color: white;
  }
  #formal #background .image {
    left:-30em;
    top:-3em;
  }
  #formal #home-about .area,
  #formal .project,
  #formal li.rss_item {
    /*background-color: black;*/
    background-image: url(images/black-transparent.png);
  }
  #formal #navigation a {
    /* background-color: black; */
    background-image: url(images/black-transparent.png);
  }
  #formal ul#main-menu li a:hover {
    background-color: #ff6600;
    background-image: none;
  }
  #formal ul#main-menu a#active {
    color: white;
  }
  #formal .island p, 
  #formal .area p {
    color: white;
  }
  
  #formal #home-photos a.flickr {
    background-color: white;
    border: 0;
  }
  
  #formal #home-photos a.flickr:hover {
    background-color: #ff6600;
  }
  
  #formal li.rss_item.islandMouseOver,
  #formal div.island p.islandMouseOver {
    color: white;
  }
  
/* guitar theme */
  
  #guitar #background .image {
    left:-2em;
    top:10em;
    width:700px;
  }
  #guitar #home-about .area,
  #guitar .project,
  #guitar li.rss_item {
    /*background-color: white;*/
    background-image: url(images/white-transparent.png);
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  #guitar li.rss_item.islandMouseOver,
  #guitar div.island p.islandMouseOver {
    color: black;
  }

/* header styles */

  body li.rss_item.islandMouseOver,
  body div.island p.islandMouseOver {
    color: black;
  }

  #header {
    padding-top: 2em;
    padding-left: 2em;
  }

/* site title */

  #header h1 {
    float: left;
    z-index: 1;
    font-size: 5.79em;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
  }
  /*
  #header h1 a {
    color: black;
    text-decoration: none;
  }
  #header h1 a:hover {
    color: #444;
  }*/

/* site main menu */

  ul#main-menu {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    float: left;
  }
  ul#main-menu li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
  }
  ul#main-menu li.arrow {
    font-size: 5.7em;
    margin-left: 0.3em;
    margin-right: 0.1em;
    position: relative;
    top: 0.02em;
    color: #ccc;
  }
  ul#main-menu li a {
    text-decoration: none;
    padding: 0.05em 0.25em;
    position: relative;
    top: -0.25em;
    /* background-color: #FF9900; */
    /* background-color: #777; */
    /* color: white; */
    color: #ff6600;
    margin: 0.05em;
    letter-spacing: -0.02em;
  }
  ul#main-menu li a:hover {
    /* background-color: #FFaa00; */
    background-color: #ff6600;
    color: white;
  }
  ul#main-menu a#active {
    font-size: 1.5em;
    position: relative;
    top: -0.1em;
    background-color: transparent;
    color: black;
  }

/* body */

#body {
  padding: 1em 0;
}

.topic {
  padding-top: 1em;
  margin: 0 3em;
}

.container {
  position: relative;
  clear: both;
}

#zero-container {
  float:right;
  width:46em;
}
#first-container {
  float:right;
  width:46em;
}
#second-container {
  float: right;
  width: 46em;
}

/* section */

  .section {
    position: relative;
    border-left: 3em solid #0077CC;
    /* padding-left: 1em; */
    margin-bottom: 1em;
    min-height: 20em;
  }

  .clear {
    clear: both;
    margin: 0; padding: 0;
    position: relative;
    height: 0;
  }
/*
  .area:first-child, .island:first-child li.rss_item:first-child {
    margin-top: 1em;
  }
  
  .area:last-child, .island:last-child, li.rss_item:last-child {
    margin-bottom: 0.5em;
  }*/
  
  .area, .island, .rss_item {          
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  .island:hover, .rss_item:hover {
    cursor: pointer;
  }
  
  .island p, .area p {
    font-size: 1.5em;
    letter-spacing: -0.02em;
  }


/* section headings */

  .section h2 {
    letter-spacing: -0.02em;
    margin: 0;
    font-size: 2.5em;
  }
  
  .section h2 a {
    text-align: right;
    color: white;
    width: 200px;
    display: block;
    padding-right: 0.5em;
    white-space: nowrap;
    
    position: absolute;
    left: -4.17em;
    top: 3em;
    /* background-color: #0077CC; */
    
    
    /* http://snook.ca/archives/html_and_css/css-text-rotation */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

/* writing section */

  #home-writing {
    float: left;
    width: 21em;
    margin-right: 1em;
  }
  #most-recent-post.section {
    min-height: 0;
    margin-bottom: 0;
  }
  #most-recent-post .rss_box {
    padding-bottom:1em;
  }
  #most-recent-post.section h2 a {
    z-index: 10;
  }
  
  ul.rss_items {
    margin: 0; padding: 0;
  }

  #home-writing .article p {
    margin: 0; padding: 0;
  }
  #most-recent-post li.rss_item {
    font-size: 1.75em;
    margin-bottom:0;
  }
  #most-recent-post li.rss_item,
  #home-writing .article p,
  #home-writing .rss_item {
    color: gray;
    letter-spacing: -0.03em;
    list-style: none;
  }
  #home-writing .article p,
  #home-writing .rss_item {
    font-size: 1.35em;
  }
  #home-writing .article h3 {
    margin: 0;
    font-size: 2em;
    letter-spacing: -0.05em;
    padding: 0.2em 0.1em 0.1em 0;
    color: #ff6600;
  }
  #most-recent-post .rss_item a,
  #home-writing .rss_item a {
    margin: 0;
    font-size: 1.25em;
    letter-spacing: -0.05em;
    padding: 0.2em 0.1em 0.1em 0;
    color: #ff6600;
  }
  #most-recent-post .rss_item a:hover,
  #home-writing .article h3 a:hover,
  #home-writing .rss_item a:hover {
    color: white;
    background-color: #ff6600;
    text-decoration: none;
  }
  #home-writing .article .tags {
    font-size: 1em;
    letter-spacing: -0.015em;
    margin-top: 1em;
  }

/* projects section */

  #home-projects {
    float: left;
    width: 18em;
  }

  #home-projects h3 {
    margin: 0;
  }
  #home-projects h3 a img {
    border: 0;
  }
  #home-projects .project p {
    color: gray;
    font-size: 1.4em;
    letter-spacing: -0.02em;
    margin: 0.5em 0 0;
  }
  
  #home-about {
  }
  #home-about p {
    font-size: 2em;
    margin: 0;
  }
  #home-about.section {
    min-height: 0;
  }
  #home-about h2 a {
    left:-2.93em;
    top:1.73em;
    width:125px;
  }
  
  #home-photos {
    float: left;
    width: 36.7em;
  }

  #home-photos a.flickr {
    margin: 0.2em;
    padding: 1px;
    border: 1px solid #aaa;
    display: block;
    float: left;
    background-color: none;
  }
  #home-photos a.flickr:hover {
    background-color: #ff6600;
    border: 1px solid #ff6600;
  }

  #home-photos a.flickr img {
    display: block;
    border: 0;
  }

  #home-music {
    float: left;
    width: 23em;
  }
  #home-music p, #home-art p {
    font-size: 3em;
    margin: 0;
  }
  
  #home-art {
    float: left;
    width: 15em;
  }
