<p>
  &copy; Jimmy Schementi &rsaquo;
  <a href="#/about" rel="address:/about">about</a> |
  <a href="#/projects" rel="address:/projects">projects</a> |
  <a href="#/writing" rel="address:/writing">writing</a> |
  <a href="http://flickr.com/photos/jschementi" target="_blank">photos</a>
</p>