<div class='container' id='second-container'>
  <div id="home-about" class='section'>
    <h2><a href='about' rel="address:/about">About me</a></h2>
    <div class='islands'>
      <div class='area'>
        <p>
          Jimmy Schementi is a software developer living in Seattle,
          working on programming languages at Microsoft.
        </p>
      </div>
      <div class='area'>
        <a rel='external-about' href="http://www.linkedin.com/in/jschementi" target='_blank' style="float: left">
          <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Jimmy Schementi's profile on LinkedIn">
        </a>
        <i style='float: left; padding: 0.5em; font-size: 1.3em;'>and</i>
        <a rel='external-about' href="http://www.facebook.com/profile.php?id=29100024" title="Jimmy Schementi" target="_blank" style="display: block; float: left; background-image: url(http://badge.facebook.com/badge/29100024.194.1526369336.png); border: 0; width: 120px; height: 26px; margin-top: 4px;">&nbsp;</a> 


        <div style="clear: left; padding-top: 0.3em; font-size: 18px;">
          <a href="resume" rel="address:/resume">Resume</a> (<a href="jimmy_schementi.pdf">pdf</a> | <a href="jimmy_schementi.txt">txt</a>)
        </div>

        <div class='clear'></div>
        <script type="text/javascript">
          enableColorbox($("a[rel='external-about']"));
        </script>
      </div>
    </div>
  </div>
</div>

<div id="blog_post_template" style="display: none">
  <li class="rss_item">
    <a title="" href="" class="rss_item"></a>
    <div></div>
  </li>
</div>

<div class='container' id='zero-container'>

  <div id="most-recent-post" class='section'>
    <h2><a href="http://blog.jimmy.schementi.com" id="blog_title">jimmy.thinking</a></h2>
    <div class="rss_box">
      <ul class="rss_items">
      </ul>
    </div>
  </div>

</div>

<div class='container' id='first-container'>

  <div id="home-writing" class='section'>
    <div class='islands'>
      <div class="rss_box">
        <ul class="rss_items">
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    generateBlogFeed();
  </script>

  <div id="home-projects" class='section'>
    <h2><a href='projects' rel="address:/projects">Recent projects</a></h2>
    <div class='islands'>
    <div class='project island'>
      <h3><a href="#/projects/ironruby" rel="address:/projects/ironruby"><img src='images/projects/ir-logo.png' width='150' height='42' alt='IronRuby' /></a></h3>
      <p>
        IronRuby is a implementation of the Ruby programming language for the
        Microsoft.NET and Mono frameworks. <!-- Ruby developers can run
        their applications on .NET, existing .NET developers can use Ruby as
        a scripting and embedding language, and client web-developers can use
        Ruby as a programming language in the browser. -->
      </p>
    </div>
    <div class='project island'>
      <h3><a href="#/projects/sourceaid" rel="address:/projects/sourceaid"><img src='images/projects/sourceaid_logo.gif' width='150' height='60' alt='SourceAid' /></a></h3>
      <p>
        SourceAid provides research and citation tools and resources to
        students, professors, and entire institutions to help stop plagiarism
        across all sectors of academic communities.
      </p>
    </div>
    <div class='project island'>
      <h3><a href="#/projects/assistment" rel="address:/projects/assistment"><img src='images/projects/assistment-logo.png' width='150' height='32' alt='Assistment' /></a></h3>
      <p>
        The Assistment system assists students in learning mathematics and gives
        teachers assessment of their students' progress.
      </p>
    </div>
    </div>
  </div>
</div>

<div class='container' style='clear: none; margin-top:45em;'>
  <div id="home-photos" class='section'>
    <h2><a href='http://flickr.com/photos/jschementi' target='_blank'>Flickr</a></h2>
    <script type="text/javascript" src="http://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=1486775479faf0d20ae61c3cc1a137a8&user_id=24458122%40N00&format=json&jsoncallback=generateHomepagePhotoFeed"></script>
  </div>

  <!--
  <div id='home-music' class='section'>
    <h2><a href=''>Music</a></h2>
    <p>todo</p>
  </div>

  <div id='home-art' class='section'>
    <h2><a href=''>Artwork</a></h2>
    <p>todo</p>
  </div>
  -->
</div>
