<h2>Music</h2>
<p>
  About the music I write
</p>
<ul>
  <li><a href="http://www.purevolume.com/jimmyschementi">what I</a><a href="http://www.myspace.com/jimmyschementi">write</a></li>
  <li><a href="http://www.pandora.com/people/jschementi">what I listen to</a></li>
</ul>