<p>
  I take lots of photos between my <a href="http://www.flickr.com/cameras/nikon/d90/">Nikon D90</a> and my <a href="http://www.flickr.com/cameras/apple/iphone_4/">iPhone 4</a>, and post everything on <a href="http://www.flickr.com/photos/jschementi/">Flickr</a>.
</p>
