<div id="github-badge-wrapper">
  <div id="github-badge"></div>
  <script type="text/javascript">
    GITHUB_USERNAME = "jschementi";
    GITHUB_LIST_LENGTH = 500; // force show-all
    GITHUB_TITLE = "Open-source projects";
  </script>
  <script type="text/javascript" src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js"></script>
</div>

<!--<h2>Projects</h2>-->
<p>
  Being a lover of software, I'm always involved in many projects, be it
  open-source software for the benefit of the greater good, or technology
  for new business ventures.
  See the <a href="http://github.com/jschementi">GitHub</a> project list to
  the right for all my open-source projects. Please contact me for any
  questions.
</p>
<p>
  Here are my most recent projects:
</p>
<h3><a href="http://ironruby.net">IronRuby</a></h3>
<p>
  I am a core team member of the IronRuby project; the implementation of the
  Ruby programming language for the Microsoft.NET and Mono frameworks. I've
  worked on various parts of the project, from engineering to evangelism.
</p>
<h3><a href="http://sourceaid.com">SourceAid</a></h3>
<p>
  I've been consulting with SourceAid on their new citation management
  offering. I'll provide more information when they announce the first preview
  release.
</p>
<h3><a href="http://assistment.org">Assistment</a></h3>
<p>
  During my masters work at WPI, I worked at the AI Lab on Assistment, and
  web-based intelligent tutor. My role was more pragmatic than research oriented,
  mainly on redesigning Assistment to the user experience and technical architecture
  it has today. Though I'm no longer involved in the project, I'm happy to see the
  current team continuing to do awesome work, and I strongly suggest you evaluate it
  for your educational organization, your children, or even if you want to brush up
  on your math skills.
</p>