<p>
  Download: <a href="jimmy_schementi.pdf">PDF</a> | <a href="jimmy_schementi.html">HTML</a> | <a href="jimmy_schementi.txt">Plain text</a>
</p>
<div id="resume_contents" style="">
  Loading ...
</div>
<script type="text/javascript">
  renderResume();
</script>