<!--<h2>Writing / Reading</h2>-->
<p>I write, here's where.</p>
<ul> 
  <li><a href="http://jimmy.schementi.com/blog">blog</a>: mainly technical</li>
  <li><a href="http://twitter.com/jschementi">@jschementi</a>: 140 characters at a time</li>
  <li><a href="http://del.icio.us/jschementi">Bookmarks</a>: this I like from the web</li>
</ul>
